/*ABOUT HERO*/

.about-hero {

    height: 350px;

    background: linear-gradient(rgba(198, 40, 40, .75),
            rgba(198, 40, 40, .75)),
        url("../images/about-banner.jpg");

    background-size: cover;

    background-position: center;

    display: flex;

    justify-content: center;

    align-items: center;

    text-align: center;

    color: white;

}

.about-overlay {

    width: 90%;

    max-width: 800px;

}

.about-hero h1 {

    font-size: 48px;

    margin-bottom: 15px;

}

.about-hero p {

    font-size: 20px;

    line-height: 1.6;

}

@media(max-width:768px) {

    .about-hero {

        height: 260px;

    }

    .about-hero h1 {

        font-size: 34px;

    }

    .about-hero p {

        font-size: 16px;

    }

}

/* ABOUT SECTION*/

.about-section {

    padding: 70px 20px;

    background: #ffffff;

}

.container {

    max-width: 1100px;

    margin: auto;

}

.about-section h2 {

    text-align: center;

    color: #c62828;

    font-size: 36px;

    margin-bottom: 30px;

}

.about-section p {

    font-size: 18px;

    line-height: 1.8;

    color: #555;

    text-align: justify;

    margin-bottom: 20px;

}

@media(max-width:768px) {

    .about-section {

        padding: 50px 20px;

    }

    .about-section h2 {

        font-size: 30px;

    }

    .about-section p {

        font-size: 16px;

    }

}

/* OBJECTIVES*/

.objectives {

    padding: 70px 20px;

    background: #f8f9fa;

}

.objectives h2 {

    text-align: center;

    color: #c62828;

    font-size: 36px;

    margin-bottom: 15px;

}

.section-text {

    text-align: center;

    max-width: 700px;

    margin: 0 auto 50px;

    color: #666;

    line-height: 1.7;

}

.objective-container {

    display: grid;

    grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));

    gap: 25px;

}

.objective-card {

    background: white;

    padding: 30px;

    border-radius: 12px;

    text-align: center;

    box-shadow: 0 5px 15px rgba(0, 0, 0, .08);

    transition: .3s;

}

.objective-card:hover {

    transform: translateY(-8px);

}

.objective-icon {

    font-size: 50px;

    margin-bottom: 20px;

}

.objective-card h3 {

    color: #c62828;

    margin-bottom: 15px;

}

.objective-card p {

    color: #555;

    line-height: 1.7;

}

/* TEAM*/

.team {

    padding: 70px 20px;

    background: #f8f9fa;

}

.team h2 {

    text-align: center;

    color: #c62828;

    font-size: 36px;

    margin-bottom: 15px;

}

.team-container {

    display: grid;

    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));

    gap: 25px;

    margin-top: 50px;

}

.team-card {

    background: white;

    padding: 30px;

    text-align: center;

    border-radius: 12px;

    box-shadow: 0 5px 15px rgba(0, 0, 0, .08);

    transition: .3s;

}

.team-card:hover {

    transform: translateY(-8px);

}

.team-avatar {

    font-size: 55px;

    margin-bottom: 15px;

}

.team-card h3 {

    color: #c62828;

    margin-bottom: 10px;

}

.team-card p {

    color: #555;

}

/* Tablet */
@media (max-width: 991px) {

    .team-container {

        grid-template-columns: repeat(2, 1fr);

    }

}

/* Mobile */
@media (max-width: 600px) {

    .team-container {

        grid-template-columns: 1fr;

    }

}

/* PROJECT INFORMATION*/

.project-info {

    padding: 70px 20px;

    background: #ffffff;

}


.project-info h2 {

    text-align: center;

    color: #c62828;

    font-size: 36px;

    margin-bottom: 40px;

}


.info-card {

    max-width: 800px;

    margin: auto;

    display: grid;

    grid-template-columns: repeat(2, 1fr);

    gap: 25px;

}


.info-item {

    background: #f8f9fa;

    padding: 25px;

    border-radius: 12px;

    box-shadow: 0 5px 15px rgba(0, 0, 0, .08);

}


.info-item h3 {

    color: #c62828;

    margin-bottom: 10px;

}


.info-item p {

    color: #555;

    line-height: 1.7;

}

@media(max-width:768px) {

    .info-card {

        grid-template-columns: 1fr;

    }

}

/*  CTA SECTION*/

.cta-section {

    padding: 70px 20px;

    background: linear-gradient(rgba(198, 40, 40, .9),
            rgba(198, 40, 40, .9)),
        url("../images/blood-banner.jpg");

    background-size: cover;

    background-position: center;

    text-align: center;

    color: white;

}


.cta-content {

    max-width: 800px;

    margin: auto;

}


.cta-content h2 {

    font-size: 38px;

    margin-bottom: 20px;

}


.cta-content p {

    font-size: 18px;

    line-height: 1.7;

    margin-bottom: 35px;

}


.cta-buttons {

    display: flex;

    justify-content: center;

    gap: 20px;

}


.cta-btn {

    text-decoration: none;

    background: white;

    color: #c62828;

    padding: 12px 30px;

    border-radius: 30px;

    font-weight: 600;

    transition: .3s;

}


.cta-btn:hover {

    transform: translateY(-5px);

}


.cta-btn.outline {

    background: transparent;

    color: white;

    border: 2px solid white;

}

@media(max-width:600px) {

    .cta-content h2 {

        font-size: 30px;

    }


    .cta-content p {

        font-size: 16px;

    }


    .cta-buttons {

        flex-direction: column;

        align-items: center;

    }


    .cta-btn {

        width: 200px;

    }

}