/* Nav */
nav { display: flex; align-items: center; justify-content: space-between; padding: 0 32px; height: 60px; background: #fff; border-bottom: 1px solid #ddd; }
nav ul { display: flex; gap: 28px; list-style: none; }
nav ul a { text-decoration: none; color: #444; font-size: 14px; }
.logo { font-size: 22px; font-weight: 700; }
.logo .red { color: #c62828; }

@keyframes slideDown {
    from {
        opacity: 0;
        transform: translateY(-15px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}


@media (max-width: 768px) {

    .menu-btn {
        display: block;
    }

    .nav-links {
        display: none;
        position: absolute;
        top: 70px;
        left: 0;
        width: 100%;
        background: #fff;
        flex-direction: column;
        gap: 15px;
        padding: 20px 0;
        border-top: 2px solid #dc2626;
    }

    .nav-links.show {
        display: flex;
        animation: slideDown 0.3s ease;
    }
}