/* ===============================
   POPUP
=============================== */

.popup {

  position: fixed;

  top: 0;

  left: 0;

  width: 100%;

  height: 100%;

  background: rgba(0, 0, 0, .5);

  display: none;

  justify-content: center;

  align-items: center;

  z-index: 9999;

}

.popup-box {

  background: #fff;

  width: 350px;

  padding: 30px;

  border-radius: 12px;

  text-align: center;

  animation: popup .3s ease;

}

.popup-box h2 {

  color: #c62828;

  margin-bottom: 15px;

}

.popup-box p {

  margin-bottom: 20px;

  color: #555;

}

.popup-box button {

  background: #c62828;

  color: #fff;

  border: none;

  padding: 10px 25px;

  border-radius: 6px;

  cursor: pointer;

}

.popup-box button:hover {

  background: #a91d1d;

}

.popup-buttons {

  display: flex;

  justify-content: center;

  gap: 15px;

}

#confirmYes {

  background: #c62828;

  color: #fff;

  border: none;

  padding: 10px 20px;

  border-radius: 6px;

  cursor: pointer;

}

#confirmNo {

  background: #777;

  color: #fff;

  border: none;

  padding: 10px 20px;

  border-radius: 6px;

  cursor: pointer;

}

@keyframes popup {

  from {

    transform: scale(.8);

    opacity: 0;

  }

  to {

    transform: scale(1);

    opacity: 1;

  }

}
