.admin-container {
    width: 100%;
    max-width: 1500px;
    margin: 0 auto;
    padding: 35px 25px;
}

.request-controls {
    display: flex;
    gap: 15px;
    margin-bottom: 25px;
}

.request-controls input {
    width: 280px;
}

.request-controls select {
    width: 200px;
}

.request-controls input,
.request-controls select {
    height: 42px;
    padding: 0 12px;
    border: 1px solid #ccc;
    border-radius: 6px;
}


/* TABLE */

.table-wrapper {
    width: 100%;
    overflow-x: auto;
}

.donor-table {
    width: 100%;
    min-width: 1050px;
    border-collapse: collapse;
}

.donor-table th {
    background: #d62828;
    color: white;
    padding: 14px 10px;
    white-space: nowrap;
    text-align: center;
}

.donor-table td {
    padding: 12px 10px;
    text-align: center;
    white-space: nowrap;
    border-bottom: 1px solid #ddd;
}


/* ACTION */

.donor-table th:last-child,
.donor-table td:last-child {
    min-width: 180px;
}

.request-actions {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
}

.request-actions button {
    width: 75px;
    height: 34px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: 600;
}

.approve-btn {
    background: #28a745;
    color: white;
}

.reject-btn {
    background: #dc3545;
    color: white;
}


/* MOBILE */

@media (max-width: 600px) {

    .admin-container {
        padding: 20px 12px;
    }

    .admin-container h1 {
        font-size: 24px;
    }

    .request-controls {
        flex-direction: column;
        width: 100%;
        gap: 10px;
    }

    .request-controls input,
    .request-controls select {
        width: 100%;
    }

    .table-wrapper {
        width: 100%;
        overflow-x: auto;
    }

    .donor-table {
        min-width: 1050px;
    }

    .request-actions button {
        width: 70px;
        height: 32px;
        font-size: 12px;
    }
}